<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd">
    <context:property-placeholder ignore-unresolvable="true"/>
    <cache:annotation-driven />

    <bean id="dataSource" class="oracle.ucp.jdbc.PoolDataSourceImpl">
        <property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource"/>
        <property name="maxPoolSize" value="5"/>
        <property name="initialPoolSize" value="2"/>
    </bean>

    <bean id="rptDataSource" class="oracle.ucp.jdbc.PoolDataSourceImpl">
        <property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource"/>
        <property name="maxPoolSize" value="2"/>
        <property name="initialPoolSize" value="2"/>
    </bean>

    <bean id="userDataSource" class="oracle.ucp.jdbc.PoolDataSourceImpl">
        <property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource"/>
        <property name="maxPoolSize" value="2"/>
        <property name="initialPoolSize" value="2"/>
    </bean>

    <bean id="pkgDataSource" class="oracle.ucp.jdbc.PoolDataSourceImpl">
        <property name="connectionFactoryClassName" value="oracle.jdbc.pool.OracleDataSource"/>
        <property name="maxPoolSize" value="2"/>
        <property name="initialPoolSize" value="2"/>
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="namedParamJdbcTemplate"
          class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="cacheManager"
          class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean" name="dbScripts"/>
            </set>
        </property>
    </bean>

    <bean class="com.onevizion.scmdb.AppArguments"/>
    <bean class="com.onevizion.scmdb.ColorLogger"/>
    <bean class="com.onevizion.scmdb.DbManager"/>
    <bean class="com.onevizion.scmdb.SqlScriptExecutor"/>

    <context:component-scan base-package="com.onevizion.scmdb"/>
</beans>