<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    <context:property-placeholder ignore-unresolvable="true"/>

    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
        <property name="explicitCachingEnabled" value="true"/>
        <property name="connectionCachingEnabled" value="true"/>
        <property name="connectionCacheProperties">
            <props>
                <prop key="MinLimit">0</prop>
                <prop key="MaxLimit">2</prop>
                <prop key="InitialLimit">1</prop>
                <prop key="InactivityTimeout">600</prop>
                <prop key="PropertyCheckInterval">300</prop>
            </props>
        </property>
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="namedParamJdbcTemplate"
          class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean class="com.onevizion.scmdb.DbManager"/>
    <bean class="com.onevizion.scmdb.AppArguments"/>
    <bean class="com.onevizion.scmdb.SqlScriptExecutor"/>
    <bean class="com.onevizion.scmdb.ColorLogger"/>

    <context:component-scan base-package="com.onevizion.scmdb"/>

    <import resource="classpath:app-context.xml"/>
</beans>